* {
  font-family: 'PT Sans',
  sans-serif;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #EEEEEE;
}

p {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

.pagehead {
    font-size: 30px;
}

[draggable]:hover {
    cursor: move;
}

.sidenav {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

.sidenav a {
    color: white;
    text-decoration: none;
}

.sidenav .itemlist a:hover {
    border-left: 2px dotted white;
    padding-left: 5px;
    transition: 0.3s;
}

.sidenav .head {
    color: white ;
    font-size: 20pt;
    display: block;
    padding-top: 10px;
}

.sidenav .itemlist {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
}

.sidenav .item {
    font-size: 15pt;
    color: #818181;
    padding-left: 10px;
    display: block;
    transition: 0.3s;
}

.sidenav .item .drag {
    transition: 0s;
}

.sidenav .item:hover {
    color: #f1f1f1;
}

.sidenav .item input:hover {
    cursor: pointer;
}

.sidenav .item label:hover {
    cursor: pointer;
}

.sidenav .selector {
    width:75%;
    margin-bottom: 10px;
}

.sidenav .table {
    table-layout: fixed;
    font-size: 15pt;
    color: #818181;
    display: block;
}

.sidenav .table .number-input {
    color: white;
    font-family: "Roboto", sans-serif;
}

.sidenav .table .number-input:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.sidenav .table .number-input:focus {
    cursor: text;
    color: black;
}

.sidenav .closebtn {
    color: #818181;
    display: block;
    transition: 0.3s;
    right: 250px;
    font-size: 30px;
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.sidenav .closebtn:hover {
    color: #f1f1f1;
}